.header {
    padding: 20px;
    margin-bottom: 25px;
    background-color: #008000;
}

.certificate {
    outline: 5px solid #008000;
    padding: 20px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.empty_field {
    outline: 5px solid #008000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 25px;
}

.transfer {
    margin-top: 5px;
}

.footer {
    padding: 20px;
    margin-top: 25px;
    background-color: #008000;
}