<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Certificates registry - create certificate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center header">
                Create certificate
            </div>
            <div class="row justify-content-center">
                <form action="/create_certificate" method="post">
                    <div class="form-group">
                        <label for="generating_object">Generating object</label>
                        <input type="text" class="form-control" id="generating_object" name="generating_object">
                    </div>
                    <div class="form-group">
                        <label for="energy_type">Energy type</label>
                        <select id="energy_type" name="energy_type" class="form-control">
                            <option selected>Energy of sun</option>
                            <option>Wind energy</option>
                            <option>Water energy</option>
                            <option>Geothermal energy</option>
                            <option>Low potential thermal energy</option>
                            <option>Biomass</option>
                            <option>Biogas</option>
                            <option>Gas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount_of_energy">Amount of energy</label>
                        <input type="number" class="form-control" id="amount_of_energy" name="amount_of_energy">
                    </div>
                    <div class="form-group">
                        <label for="time_of_start_of_production_period">Time of start of production period</label>
                        <input type="date" class="form-control" id="time_of_start_of_produfction_period" name="time_of_start_of_production_period">
                    </div>
                    <div class="form-group">
                        <label for="time_of_stop_of_production_period">Time of stop of production period</label>
                        <input type="date" class="form-control" id="time_of_stop_of_produfction_period" name="time_of_stop_of_production_period">
                    </div>
                    <input type="hidden" name="owner" value={{ owner }}>
                    <button type="submit" class="btn btn-block btn-success">Submit for verification</button>
                </form>
            </div>
            <div class="row justify-content-center footer">
                Registry smart contract address (ropsten): {{ smart_contract_address }}
            </div>
        </div>
    </body>
</html>