<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Certificates registry - my certificates</title>
        <base target="_blank">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center header">
                <div>My certificates</div>
            </div>
            <div class="row">
                {% set index = 0 %}
                {% for certificate in certificates %}
                    {% if index % 2 == 0 %}
                        <div class="col-sm left_certificate">
                    {% else %}
                        <div class="col-sm right_certificate">
                    {% endif %}
                        <p>Certificate №{{ certificate.certificate_id }}</p>
                        Owner: {{ certificate.owner }} <br />
                        Generating object: {{ certificate.generating_object }} <br />
                        Energy: {{ certificate.energy_type }} <br />
                        Amount of energy: {{ certificate.amount_of_energy }} MW/hour <br />
                        Time of start of production period: {{ certificate.time_of_start_of_production_period }} <br />
                        Time of stop of production period: {{ certificate.time_of_stop_of_production_period }} <br />
                        Valid until: {{ certificate.time_of_destruction }} <br />
                        Redeemed: {{ certificate.redeemed }} <br />
                        <button class="btn btn-success">Redeem</button>
                        <br />
                        <form>
                            <div class="row transfer">
                                <div class="col">
                                    <input type="text" class="form-control" id="recipient_address" placeholder="Enter recipient address">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary transfer">Transfer</button>
                        </form>
                    </div>
                {% endfor %}
                {% if index % 2 == 0 %}
                    <div class="col-sm left_create_field">
                {% else %}
                    <div class="col-sm right_create_field">
                {% endif %}
                    <div>
                        <button class="btn btn-success">Create</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center footer">
                Registry smart contract address: {{ smart_contract_address }}
            </div>
        </div>
    </body>
</html>