<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Certificates registry - my certificates</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center header">
                <div>My certificates</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form action="/" method="get">
                        <button class="btn btn-block btn-danger">Back</button>
                    </form>
                </div>
            </div>
            <div class="row">
                {% for certificate in certificates %}
                    <div class="col-sm certificate">
                        <p>Certificate №{{ certificate.certificate_id }}</p>
                        Owner: {{ certificate.owner }} <br />
                        Generating object: {{ certificate.generating_object }} <br />
                        Energy type: {{ certificate.energy_type }} <br />
                        Amount of energy: {{ certificate.amount_of_energy }} MW/hour <br />
                        Time of start of production period: {{ certificate.time_of_start_of_production_period }} <br />
                        Time of stop of production period: {{ certificate.time_of_stop_of_production_period }} <br />
                        Valid until: {{ certificate.time_of_destruction }} <br />
                        Redeemed: {{ certificate.redeemed }} <br />
                        <form action="/redeem_certificate" method="post">
                            <input type="hidden" name="owner" value={{ owner }}>
                            <input type="hidden" name="private_key" value={{ private_key }}>
                            <input type="hidden" name="certificate_id" value={{ certificate.certificate_id }}>
                            <button class="btn btn-success">Redeem</button>
                        </form>
                        <form action="/transfer_certificate" method="post">
                            <div class="row transfer">
                                <div class="col">
                                    <input type="hidden" name="owner" value={{ owner }}>
                                    <input type="hidden" name="private_key" value={{ private_key }}>
                                    <input type="hidden" name="certificate_id" value={{ certificate.certificate_id }}>
                                    <input type="text" class="form-control" id="recipient" name="recipient" placeholder="Enter recipient address">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary transfer">Transfer</button>
                        </form>
                    </div>
                {% endfor %}
                <div class="col-sm create_field">
                    <form action="/create_certificate", method="get">
                        <input type="hidden" name="owner" value={{ owner }}>
                        <button class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center footer">
                Registry smart contract address (ropsten): {{ smart_contract_address }}
            </div>
        </div>
    </body>
</html>